<!DOCTYPE html>
<html>
<head>
   <title>İstanbul'a Çık! İstanbul Açık Olacak...</title>

   <link rel="stylesheet" href="./s/css/bootstrap-flatly.min.css" media="screen" />  
	
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

   <script type="text/javascript">

function success(position) {    
      window.lat= position.coords.latitude;
      window.lng= position.coords.longitude;
    }

function error() { }

function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize';
  document.body.appendChild(script);
    }

function initialize() {

      var myLatlng = new google.maps.LatLng(window.lat,window.lng);
      var mapOptions = {
        zoom: 9,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Engel'});
    }


	$(function() {
	  if (navigator.geolocation) {
		  navigator.geolocation.getCurrentPosition(success, error);
		} else { }   

    window.onload = loadScript;
    google.maps.event.addDomListener(window, 'load', initialize);
	});    

   </script>

</head>
 
<body>

<div class="container">
    <h1 style="text-align:center;">hoş geldin, engel dedektifi</h1>

    <p class="text-info" style="text-align:center;">Sana yakın engeller bu sayfada listelenmektedir</p>

    <br/>
    <br/>
    <div id="map-canvas" style="width:100%;height:150px;"></div>
    
    <br/>
    <a href="/add" name="btnAdd" id="btnAdd" class="btn btn-primary">Ekle</a>

</div> 
 
</body>
</html>